@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}
svg{
    fill: whitesmoke;
    width: 140px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
     min-height: 10vh;
     background-color: black;
}


.nav_links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: .5rem 1.5rem;
    font-size: .95rem;
  
}
.line{
    display: inline-block;
    width: 1px;
    height: 1rem;
    color: white;
}
.nav_links a:hover{
    color: springgreen;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: #2941ab;
    color: #1Ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content h1{
    font-size: 9rem;
    transform: translateX(-10%);
}
.content h1 span{
    display: block;
    transform: translateX(30%);

}
.content button{
    background-color: #1Ed760;
    color: #2941ab;
    border: none;
    border-radius: 100vh;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2rem;
    padding: .7rem 2rem;



}
.content button:hover{
    transform: scale(1.05)
}

.circle{
    border-radius: 50%;
    position: absolute;
    background-color: #1Ed760;
}
.circle1{
    width: 70vh;
    height: 75vh;
    right: 0%;
    bottom: 18%;
    transform: translateX(85%);
}
.circle2{
    width: 350px;
    height: 350px;
    left: 0%;
    bottom: 0%;
    transform:translate(-60%, 20% );
}
.circle3{
    width: 650px;
    height: 650px;
    left: 0;
    bottom: 0;
    transform:translate(-30%, 80% );
    overflow: hidden;
}
.circle3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #2941ab;
    transform: translate(-14px,-149px);
}
footer{
    position: relative;
    background-color: #000;
    min-height: 60vh;
    width: 100%;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 4fr 3fr;
    place-items: center;
    align-items: flex-start;
    
    
    
}
footer * {
    text-decoration: none;
    color: #fff;
}
footer h5 {
    opacity: .4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05rem;
}

.web_links_container {
    display: flex;
}
.web_links {
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
}
.web_links > div {
    display: flex;
    flex-direction: column;
}
.web_links a,
.web_links h5 {
    margin: .5rem 0;
    font-size: .9rem;
}

.social_links {
    display: flex;
    margin-right: 10rem;
}
.social_links a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #222326;
    border-radius: 50%;
    margin: 0 .5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other_links,
.copyright {
    opacity: .5;
    font-size: .7rem;
    margin-top: 6rem;
}
.other_links a {
    margin: 0 .5rem;
}

.copyright {
    margin-top: 5rem;
    text-align: right;
}
.copyright a {
    display: block;
    margin-bottom: .5rem;
}
